@use 'sass/global';


$thcol: #22ff05 ;
$bgcol: #222222;

body{
    background-color: $bgcol;
}

body::-webkit-scrollbar{
    width: .5em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb{
    background-color: $thcol;
    border-radius: 10px;
}
// ======================= Header op ==========================

header{
    width: 100%;
    transition: 0.3s;
    top: 0;
    position: fixed;
    z-index: 1000;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

input{
    width: 300px;
   padding: 5px 10px ;
   outline: none;
   border: none;
   border-bottom:1px solid $thcol ;
   color: #fff;
   background-color: transparent;
   &::placeholder{
    color: #fff;
   }
}

.logo{
    color: #fff;
    text-shadow:-3px 2px 3px #000;
    font-size: 2.5em;
    font-family: bebas neue;
    letter-spacing: 1px;
    span{
        color: $thcol;font-family: bebas neue;
    }
}
.menu{
    display: flex;
    gap: 1em;
    a{
        color: #fff;
    }
}

// ======================= Header cl ==========================

// ======================= body op ==========================

.moviebody{
  .moviebanner{
    height: 90vh;  margin-top: 3em;
    position: relative;
    background-size: cover;
    filter: contrast(110%);
  }
  .ban-row{
    display: grid;
    justify-items: start;
    position: absolute;
    bottom: 0;
    gap: .3em;
    width: 100%;
    padding: 20px 60px;
    padding-bottom: 60px;
    p{
        width: 500px;
    }
    a{
        @extend .button
    }
  }
}
h2{
    color: #fff;
    font-size: 2.5em;
    text-shadow: 0 0 5px rgb(0, 0, 0) ;
}
.ratings{
    color: #fff;
    border: 1px dashed $thcol;
    display: flex;
    align-items: center;
    gap: .4em;
    padding: 10px;
    border-radius: 10px;
    background-color: mix($bgcol , transparent , 50%);
   svg{
    color: yellow;
   }
}
.date{
    color: #fff;
}
// ======================= body cl ==========================

// ======================= Movie Card =======================
.card_con{
    width: 200px;
    position: relative;
}
.card{
    border: 1px solid #e1e1e149;
    display: grid;
    padding: 10px;
    min-height:  300px;
    align-items: flex-end;
    border-radius: 10px;
    transition: 0.2s;
    background-size: cover;
    img{
        width: 200px;
    }
    &:hover{
        transform: scale(1.2); 
       filter: contrast(110%) ;
    }
    p{
        transition: .2s;
        opacity: 0;
    }
    &:hover p{
        opacity: 1;
    }
}
h3{
    font-weight: 500;
    color: #fff;
}
.pop-row{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content :center ;
    gap: 1em;
}
// ======================= Movie Card =======================

// ======================= Movie-banner =======================
.moviebody{
    margin-top: 2em;
}
.moviebanner{
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.bottom-class{
    background-color: #222222;
    padding: 5px 0;
    box-shadow: 0 0 10px #000;
}
// ======================= Movie-banner =======================

// ======================= Moviedetails =======================
.movie_row{
    display: flex;
    align-items: center;
    gap: 2em;
    height: 100vh;
    img{
        border-radius: 10px;
        cursor: pointer;
        box-shadow:  0 0 10px #000;
    }
}
.detail_card{
   display: grid;
   gap: 1em;
}
.genere{
    display: flex;
    gap: 1em;
    list-style: none;
    li{
        border: 1px solid #fff;
        border-radius: 10px;
        padding: 5px;
        font-weight: 500;
        color: #fff;
        text-shadow: 0 0 3px #000;
    }
}
.details_ratings{
    box-shadow: 0 0 5px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        filter: drop-shadow(0 2px 0px #000);
    }
}
.credits{
   margin-top: 2em;
}
.credit_row{
    display: flex;
    margin-top: 1em;
    flex-wrap: wrap;
    gap: 1em;
    img{
        filter: contrast(110%);
        border-radius: 10px;
        width: 200px;
        box-shadow: 0 0 5px #000;
    }
}
.ratings_row{
    display: flex;
    gap: 1em;
}
// ======================= Moviedetails =======================
.companies{
    margin-top: 2em;
    .comp-row{
        margin-top: 1em;
        flex-wrap: wrap;
        display: flex;
        gap: 2em;
    }
}
.company_card{
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
